/* Nav y menù hamburguesa */
.container-nav{
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

header{
    background-color: #06a2d8;
    background-position-x: center;
    background-position-y: bottom;
    height: 73px;
    padding: 16px 0;
    position: relative;
    box-shadow: 0px 5px 7px rgba(162, 161, 161, 0.75);
    width: auto;
    margin-right: 0px !important;
}

header::after{
    content:"";
    clear: both;
    display: block;
}

#nombreSuper a {
 color: #ffffff;
 text-decoration: none;
}

.logo{
    float: left;
    margin-top: -12px;
    margin-left: 4px;
}

.logo h1{
    color: #ffffff;
    font-size: 20px;
    margin-left: 4px;
    margin-top: 19.2px;
}

#nombreSuper a {
    color: #FFFFFF;
}

.logo h1 a{
    color: #ffffff;
    text-decoration: none;
}

.site__nav{
    top: 100%;
    right: 0%;
    height: fit-content;
    position: absolute;
    background-color: #06a2d8;
    clip-path: circle(0 at top right);
    transition: clip-path ease-in-out 0.5s;
    backdrop-filter: blur(8px);
    z-index: 100;
    margin-right: 0px !important;
}

.site__navAbrir{
    clip-path: circle(150% at top right);
    height: fit-content;
    z-index: 100;
    margin-right: 0px !important;
}

.site__nav ul{
    padding-top: 0%;
    padding-left: 2%;
    list-style: none;
    width: 192px;
    margin-bottom: 0px !important;
    height: fit-content;
    box-shadow: 0px 5px 7px rgba(63, 62, 62, 0.75);
}

.site__nav li{
    border-bottom: 2px solid #ffffff;
}

.site__nav li:last-child{
    border-bottom: none;
}

.site__nav a{
    color: #ffffff;
    display: block;
    padding: 16px 0px 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
}

.site__nav a:hover{
    border: 1px solid rgb(216, 216, 216);
    font-weight: bold;
    text-decoration: underline;
}

.site__nav a:focus{
    background-color: #51C2F1;
    border: 1px solid rgba(255,255,255,05);
    text-decoration: underline;
}

.site__nav--icon{
    display: inline-block;
    font-size: 14.4px;
    margin-right: 24px;
    width: 48px;
    text-align: right;
    color: #FFFFFF;
}

/*el menu hamburguesa*/
.menu-toggle{
    backdrop-filter: blur(240px);
    border: 2px solid rgb(216, 216, 216);
    border-radius: 3px;
    padding: 12px 16px 20px;
    position: absolute;
    top: 8px;
    right: 8px;
    margin-right: 0px !important;
}

.menu-toggle.menu-abierto {
    padding: 19.2px 16px 12.8px !important;
}

.menu-abierto .menu-hamburguesa{
    transform: rotate(45deg);
}

.menu-abierto .menu-hamburguesa::before{
    opacity: 0;
}

.menu-abierto .menu-hamburguesa::after{
    transform: translateY(-7.2px) rotate(-90deg);
}

div.menu-hamburguesa{
    padding-top: 0.4px;
    padding-bottom: 3.2px;
    height: 4px;
}

.menu-hamburguesa,
.menu-hamburguesa::before,
.menu-hamburguesa::after{
    content: "";
    display: block;
    background-color: #ffffff;
    height: 4px;
    width: 24px;
    border-radius: 8px;
    transition: all ease-in-out 0.4s;
    margin-bottom: 3.2px;
}

.menu-hamburguesa::before{
    transform: translateY(5.6px);
}

.menu-hamburguesa::after{
    transform: translateY(5.6px);
}

.mainSpace .mockup-web{
    width: 90%;
    justify-content: center;
    margin: 0px auto 32px;
    display: flex;
    animation: fadeIn 1.5s ease;
}

@media only screen and (min-width: 767px){
    .mainSpace .mockup-web{
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        animation: fadeIn 1.5s ease;
    }
    .logo h1 {
        font-size: 30px;
        margin-top: 16px;
        color: #FFFFFF;
    }

    .logo h1 a{
        color: #ffffff;
        text-decoration: none;
    }

    
    header{
        border: none;
    }
    .menu-toggle{
        display: none;
    }
    .site__nav{
        height: auto;
        position: relative;
        backdrop-filter: none;
        float: right;
        margin-top: -40px;
        margin-right: 16px;
        clip-path: initial;
        text-align: center;
    }

    .site__nav li{
        display: inline-block;
        border: none;
        
    }
    .site__nav a{
        padding: 0;
        margin-top: 24.8px;
        margin-left: 12px;
    }
    
    .site__nav--icon{
        width: 5px;
       margin-right: 21px;
    }

    .site__nav a:hover,
    .site__nav a:focus{
        background-color: transparent;
        border: none;
        text-decoration: underline;
    }

    .site__nav ul{
        padding-top: 30px;
        list-style: none;
        padding-left: 0px;
        padding-bottom: 0px;
        width: 100%;
        box-shadow: none;
    }

    #nombreSuper a {
        color: #FFFFFF;
    }
}
@media only screen and (min-width: 1024px){
    .logo h1 {
        font-size: 40px;
        margin-top: 12px;
        color: #ffffff;
    }
    
    .logo h1 a{
        color: #ffffff;
        text-decoration: none;
    }

    .site__nav a{
        padding: 0;
        margin-top: 30px;
        margin-left: 30px;
    }

    #nombreSuper a {
        color: #FFFFFF;
    }
}

/*Fin de Nav y menù hamburguesa*/

/*------Footer Responsive con Grids y Media Queries--------*/

.container__footer {
    display: grid;
    align-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #51C2F1;
    background-position: center;
    box-shadow: 7px 0px 0px rgba(162, 161, 161, 0.75);
    padding: 1%;
    bottom: 0px;
        position: relative;
}

ul.menu__footer{
    padding: 0%;
}
.menu__footer {
    list-style: none;
    font-size: 12px solid;
    color: #FFFFFF;
}

#menu__inf a {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

#menu__inf .focusHover a:hover {
    text-decoration: underline;
    font-weight: bold;
}


#autor{
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 0px;
}

#autor>a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

#autor>a:hover{
    color: #FFFFFF;
    text-decoration: underline;
}

.logo__footer img {
    width: 50%;
}
@media only screen and (min-width: 360px) {

    .container__footer {
        grid-template-columns: 1fr;
        display: grid;
        width: 100%;
        bottom: 0px;
        position: relative;
    }

    .logo__footer{
        margin: 0px;
    }

    .logo__footer img{
        width: 25%;
    }

    footer i{
        font-size: 28px;
        margin-bottom: 16px;
    }

}

@media only screen and (min-width: 480px) {

    h3{
        font-size: 24px;
        color: #585858;
    }

    .container__footer {
        grid-template-columns: 1fr;
    }

    .logo__footer{
        margin: 0px
    }
    
}

@media only screen and (min-width: 600px) {

    h3{
        font-size: 24px;
        color: #585858;
    }

    .container__footer {
        grid-template-columns: 1fr;
    }

}

@media only screen and (min-width: 768px) {

    h3{
        font-size: 24px;
        color: #585858;
    }

    .container__footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media only screen and (min-width: 1024px) {

    h3{
        font-size: 28px;
        color: #585858;
    }

    .container__footer {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        align-items: center;
    }

}

@media only screen and (min-width: 1200px) {

    h3{
        font-size: 28.8px;
        color: #585858;
    }

    .container__footer {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        align-items: center;
    }

    #autor{
        margin-bottom: 0px;
    }

    .info__contacto--footer{
        margin-top: 32px;

    }
}

/*fin del footer*/

/*container home info super */

.contendor__section-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 50px auto 30px;
    flex-direction: column;
}

.contendor__section-main img{
    width: 138%;
    margin-left: -33px;
}

.contendor__section-main p{
    font-size: 14px;
    margin: 20px 20px -30px;
}


.contendor__section-main p.parrafo{
    margin: 20px 20px 30px;
}

.carousel-slide .carousel-item img {
    height: 50px;
}
@media only screen and (min-width:767px){
    .contendor__section-main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 30px auto 30px;
        flex-direction: row;
    }
    
    .contendor__section-main img{
       width: 150%;
    }

    .carousel-item {
        height: auto !important;
        width: 80% !important;
    }

    .carousel-item img {
        height: auto;
    }
}

/* formulario de contacto */

.errorMensaje {
    color: #FF202F;
    font-size: 18px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1px 5px 4px;
}

/*modal formulario enviado*/

.modalContainerExito{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    background-size: contain;
    position: fixed;
    top: 0;
    left: 0;


    display: flex;
    justify-content: center;
    align-items: center;
/*TODO DESCOMENTAR Y COMETAR ESTO PARA DESAPARECER O APARECER EL MODAL PARA ACTIVARLO CON JS*/
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.modalFormularioExitoso{
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.modalExitoso{
    color: rgb(0,0,0);
    background-color: #ffffff;
    width: 95%;
    height: 95%;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    margin: auto;
    overflow-y: scroll;
}

.modalExitoso::-webkit-scrollbar{
    width: 0.5rem;

    background-color: #06a2d8;
    border-radius: 48px;
}

.modalExitoso::-webkit-scrollbar-thumb{
    background-color: #51C2F1;
    border-radius: 48px;
}

.modalForm{
    color: rgb(0,0,0);
    background-color: #ffffff;
    background-size: contain;
    width: 50%;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    margin: auto;
}

.btnModal{
    color: #ffffff;
    padding: 10px;
    background-color: #51C2F1;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-position-x: center;
    text-decoration: none;
    margin-bottom: 20px;
}

.btnModal:hover{
    background-color: #06a2d8;
    color: #ffffff;
}

.formulario__grupo-correcto{
    color: #51C2F1;
    opacity: 1;
}


/*fin modal*/

.container__Form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 30px auto;
    color: #FFFFFF;
    background-color: #06a4d8cc;
    border-radius: 16px;
    width: 340px;
}

.body-contacto{
    background-image: url(../images/foto-contacto.jpg);
    background-size: cover;
}
.form-control{
    width: 90%;
}

#form{
    width: 340px;
}

@media only screen and (min-width:767px){
    .container__Form{
        width: 600px;
        margin: 30px 30px;
    }

    .form-control{
        width: 570px;
    }
}
/*fin formulario de contacto */